@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --bg-color: white;
    --container-bg-color: #ecf0f1;
    --border-color: #bdc3c7;
}


html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--bg-color);
    width: 100%;
}

header {
    background-color: black;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

h2, h3, h4 {
    font-weight: bold;
}

h1 {
    padding-top: 15px;
    color:  var(--bg-color);
    width: 1000px;
    margin: auto;
    font-weight: bolder;
}

p {margin-bottom: 3px;}

.containers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    
    background-color: var(--container-bg-color);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 1px;
    box-sizing: border-box;
    padding: 20px;
}

#laptopContainer h3 {
    margin-bottom: 20px;
}

button {
    text-align: center;
    border-radius: 5px;
    height: 25px;
    border: solid 1px var(--border-color);
    width: 40%;
}

#bankContainer button {background-color: #1abc9c;}
#workContainer button {background-color: #f1c40f;}
#workButton {background-color: #3498db!IMPORTANT;}
#laptopContainer div button 
{
    background-color: #9b59b6;
    width: 100%;
}

.content {
    margin: auto;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

#bankContainer { grid-area: 1 / 1 / 2 / 2; }
#workContainer { grid-area: 1 / 2 / 2 / 3; }
#listContainer { grid-area: 1 / 3 / 2 / 4; }
#laptopContainer { grid-area: 2 / 1 / 3 / 4; }

#laptopContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    
}

#buyContainer {
    width: 150px;
    text-align: center;
}

#laptopImg {
    height: 100%;
    width: 30%;
}

#repayButton, #loanValue {
    visibility: hidden;
}

#workContainer div {
    margin-top: 36px;
}

@media only screen and (max-width: 1000px) {
    
    h1 {
        width: 90%;
    }

    .content {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 25px;
        }
        
        #bankContainer { grid-area: 1 / 1 / 2 / 2; }
        #workContainer { grid-area: 2 / 1 / 3 / 2; }
        #listContainer { grid-area: 3 / 1 / 4 / 2; }
        #laptopContainer { 
            grid-area: 4 / 1 / 7 / 2; 
            flex-wrap: wrap;
            height: 500px;
        }

        #laptopDescription, #buyContainer {
            margin: auto;
        }

        #laptopImg {
            width: 100%;
            height: auto;
        }

  };